<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% if(typeof err != 'undefined') {%>
        <h1> <%= err %> </h1>
        <%}%>

        



    <h1> Welcome to login page</h1>

    <form action='' method='post'>
        
        <input type="text" name="email" placeholder="email" > <br>
        <input type="text" name="password" placeholder="password" > <br>
        <button type="submit"> Login </button>

    </form>

<!-- <button type="submit" href='/login'> Login </button> -->
</body>
</html>